<div class="user-info">
  <div class="img-wrapper">
    <mat-card>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           class="profile-img" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div class="form-wrapper">
    <form class="profile-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" value="Kirill">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Second Name" value="Petrov">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="City" value="Minsk">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Age" value="20">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" value="Sicphy">
      </mat-form-field>
    </form>
  </div>
</div>
<div class="button-wrapper">
  <button mat-raised-button class="profile-but">Write message</button>
</div>
