.profile-form {

  min-width: 150px;
  max-width: 700px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  padding-left: 300px;
  display: -webkit-flex;
  display: flex;
}

.user-info {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-left: 200px;
}

.profile-img {
  min-width: 400px;
  max-width: 400px;
}

.img-wrapper {
  display: -webkit-flex;
  display: flex;
}

.profile-but {

}

.button-wrapper {
  display: -webkit-flex;
  display: flex;
  padding-top: 50px;
  padding-left: 474px;
}

