<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Про сайт.
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Торговая площадка на которой вы можете договориться с продавцом о сделке и просматреть его профиль.
      Зарегистрированные пользователи смогут разместить собственное предложение и оставить комменатарии уже к существующим.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Как разместить собственное предложение ?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Для того чтобы вы смогли разместить собственное предложение вам необходимо зарегистрироваться на сайте.
      После этого на боковом меню выберите вкладку "Создать предложение" и заполните все необходимые поля.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Как написать продавцу ?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Для того чтобы вы смогли написать продавцу вам необходимо зарегистрироваться на сайте.
    После этого перейдите в профиль продавца и нажмите кнопку "Написать сообщение". </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Команда разработчиков:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Болошенко</p>
    <p>Гаркавик</p>
    <p>Кореник</p>
    <p>Пеховский</p>
    <p>Петров</p>
  </mat-expansion-panel>
</mat-accordion>
