<main>
  <div class="catalog-main">
    <div class="spinner">
      <mat-spinner *ngIf="isLoading | async;else offers" mode="indeterminate" color="primary">
      </mat-spinner>
    </div>
  </div>
  <ng-template #offers>
    <div>
      <div class="catalog-search">
        <app-catalog-search-toolbar style="width: 70%"></app-catalog-search-toolbar>
      </div>
      <div class="offers-list" *ngIf="(offerList|async)?.length !== 0; else empty">
        <div *ngFor="let offer of offerList | async">
          <mat-card class="offer-card" routerLink="/offer/{{offer.id}}">
            <div class="offer-card-content">
              <img mat-card-lg-image class="offer-card-img" src="../../../assets/images/defaultImageForItem.jpg"
                   alt="Кулити">
              <div class="offer-card-text">
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                  <p style="color: black; font-weight: 400">
                    Название: {{offer.name}}
                  </p>
                  <p><b style="color: black; font-weight: 400">
                    Цена: {{offer.price | currency }}
                  </b>
                  </p>
                </div>
                <span style="color: black; font-weight: 400">
                Категория: {{offer.category}}
              </span>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

  </ng-template>
</main>

<ng-template #empty>
  <h5> Such offers were not found</h5>
</ng-template>
