<mat-sidenav-container class="example-container">
  <!--<mat-sidenav #sidenav mode="side" *ngIf="selectCurrentUser|async" [(opened)]="opened">-->
  <mat-sidenav #sidenav mode="side">
    <ng-template [ngIf]="(opened|async)">
      <p class="side-content"><a routerLink="/account/{{ (currentUser | async)?.id }}"> Account </a></p>
      <mat-divider></mat-divider>
      <p class="side-content"><a routerLink="/offer-edit"> Create offer </a></p>
      <mat-divider></mat-divider>
      <p class="side-content"><a routerLink="/conversations"> Conversations </a></p>
      <mat-divider></mat-divider>
      <p>
        <button mat-button (click)="close()" style="font-size: 15px"> Hide</button>
      </p>
    </ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button [ngClass]="(opened | async) ? 'absolutPositionHideButton': 'absolutPositionButton'"
            (click)="open()">
      ...
    </button>
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
