<main>
  <div class="spinner">
    <mat-spinner *ngIf="isSelected | async; else offerView" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #offerView>
    <div class="offer-page-carcass" *ngIf="(offer|async) !== null; else offerNotFound">
      <div class="offer-page-info-carcass">
        <div class="offer-info">
          <h1>{{(offer | async)?.firstName}}</h1>
          <div class="offer-image">
            <mat-card style="background-color: #e3e5e8">
              <img class="offer-image-parameters"
                   src="../../../assets/images/defaultImageForItem.jpg"
                   alt="../../../assets/images/defaultImageForItem.jpg"><img/>
            </mat-card>
          </div>
          <h2>Цена: {{(offer | async)?.price}}$</h2>
          <h3 style="margin-top: 10px">Описание</h3>
          <p style="word-break: break-all">{{(offer | async)?.description}}</p>
          <h3 style="margin-top: 10px">Отзывы</h3>
          <app-offer-feedback style="width: 100%"></app-offer-feedback>
        </div>
      </div>
    </div>
  </ng-template>
</main>

<ng-template #offerNotFound>
  <h2 align="center">Sorry. Such offer not found </h2>
</ng-template>

