<main>
  <div class="spinner">
    <mat-spinner *ngIf="isSelected | async; else offerView" mode="indeterminate" color="primary">
    </mat-spinner>
  </div>
  <ng-template #offerView>
    <div *ngIf="(offer|async) !== null; else offerNotFound">
      <div class="template">
        <div class="imageBlock">
          <mat-card>
            <img class="imgParametrs"
                 src="../../../assets/images/defaultImageForItem.jpg"
                 alt="../../../assets/images/defaultImageForItem.jpg"><img/>
          </mat-card>
        </div>
        <div class="rightFromImageBlock" style="word-wrap: break-word;">
          <h3> {{(offer | async)?.name}} </h3>
          <p><br/> {{(offer | async)?.description}} </p>

          <p>
            <b style="margin-right: 30px">Need investments:</b>

            {{(offer | async)?.price}}$
            <br/>

          </p>
        </div>
        <mat-divider style="width: 90%"></mat-divider>
      </div>
    </div>
  </ng-template>
</main>

<ng-template #offerNotFound>
  <h2 align="center">Sorry. Such offer not found </h2>
</ng-template>

