<main>
  <form [formGroup]="offerForm">
    <app-image-upload
      [defaultImage]=""
      [imageHeight]="250" [imageWidth]="450"
      [onErrorImage]="'/src/assets/images/defaultImageForOffer.png'">
    </app-image-upload>
    <div class="edit-form">
      <mat-form-field>
        <mat-label>Название товара</mat-label>
        <input matInput required placeholder="Имя" [formControlName]="'name'" maxlength="20">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Категория</mat-label>
        <textarea matInput required placeholder="Категория" [formControlName]="'category'"
                  maxlength="15"
                  cdkTextareaAutosize="false">
        </textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Описание</mat-label>
        <textarea matInput required placeholder="Описание" [formControlName]="'description'"
                  cdkTextareaAutosize
                  maxlength="150"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="5">

        </textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Цена" [formControlName]="'price'" maxlength="8">
      </mat-form-field>
      <button mat-raised-button class="btnControl" [disabled]="offerForm.invalid" (click)="createOffer()">
        Create
      </button>
    </div>
  </form>
</main>
