<main>
  <div class="spinner" *ngIf="isLoading | async; else accountTemplate">
    <mat-spinner mode="indeterminate" color="primary">
    </mat-spinner>
  </div>

  <ng-template #accountTemplate>
    <div class="flex-wrapper">
      <div class="account-edit">
        <app-image-upload class="image-edit"
          [defaultImage]=""
          [imageHeight]="350" [imageWidth]="550"
          [onErrorImage]="'/src/assets/images/defaultImageForOffer.png'">
        </app-image-upload>
        <div class="form-wrapper">
          <form novalidate [formGroup]="accountForm" class="profile-form">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="name" placeholder="Name" value="{{accountForm.get('name').value}}" >
              <mat-error *ngIf="accountForm.get('name').hasError('required') && accountForm.get('name').touched">
                This field is required
              </mat-error>
              <mat-error *ngIf="accountForm.get('name').hasError('maxlength')">First name must be less than 35
                characters
              </mat-error>
              <mat-error *ngIf="accountForm.get('name').hasError('pattern')">Invalid symbol</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="surname" placeholder="Surname" value="{{accountForm.get('surname').value}}">
              <mat-error *ngIf="accountForm.get('surname').hasError('maxlength')">Last name must be less than 35
                characters
              </mat-error>
              <mat-error *ngIf="accountForm.get('surname').hasError('pattern')">Invalid symbol</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="age" placeholder="Age" value="{{accountForm.get('age').value}}">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="phoneNumber" placeholder="Phone Number" value="{{accountForm.get('phoneNumber').value}}">
            </mat-form-field>
          </form>
          <div class="button-wrapper">
            <button mat-raised-button color="primary" type="submit" [disabled]="accountForm.invalid"
                    (click)="updateUser(accountForm)">Save</button>
            <button mat-raised-button color="primary" routerLink="/account/{{userId}}" (click)="goBack()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</main>
