<main>
  <div class="spinner" *ngIf="isLoading | async; else accountTemplate">
    <mat-spinner mode="indeterminate" color="primary">
    </mat-spinner>
  </div>

  <ng-template #accountTemplate>
    <div class="flex-wrapper">
      <div class="account-edit">
        <div class="form-wrapper">
          <form class="profile-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" value="Kirill">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Surname" value="Petrov">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Age" value="20">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" value="Sicphy">
            </mat-form-field>
          </form>
        </div>
        <div class="button-wrapper">
          <button mat-raised-button class="profile-edit-but">Edit</button>
        </div>
      </div>
    </div>
  </ng-template>
</main>
